body{
font-family: Arial;
background:#f5f6fa;
padding:20px;
}

.container{
max-width:700px;
margin:auto;
}

.hidden{display:none}

input,select,button{
width:100%;
padding:10px;
margin:6px 0;
}

button{
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}

#result{
margin-top:20px;
font-size:20px;
font-weight:bold;
}
